<%= form_for(@product) do |f| %>
  <div class="field">
    <%= f.lable :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.lable :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.lable :inventory %>
    <%= f.text_field :inventory %>
  </div>

  <div class="field">
    <%= f.lable :description %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
